@media print {

  @page {
    size: A4;
    margin: 0;
  }

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body {
    font-size: 12pt;
  }

  img.avatar {
    filter: none !important;
    -webkit-filter: none !important;
  }

  .sidebar-wrapper {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .skillset .level-bar-inner {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .remove-container.container-block {
    display: none;
  }

  footer {
    display: none;
  }

}
